apiVersion: v1
kind: Service
metadata:
  name: {{ include "qbittorrent.fullname" . }}
  labels:
    {{- include "qbittorrent.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.webUIPort }}
      targetPort: webui
      protocol: TCP
      name: webui
  selector:
    {{- include "qbittorrent.selectorLabels" . | nindent 4 }}
